<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav 
                 mode="side" 
                 [(opened)]="isExpanded"
                 [style.width.px]="isExpanded ? 250 : 64"
                 class="app-sidenav">
      
      <!-- Sidebar Header with Toggle Button (always visible) -->
      <div class="sidebar-header">
        <button mat-icon-button (click)="toggle()" class="toggle-button">
          <mat-icon>{{isExpanded ? 'chevron_left' : 'menu'}}</mat-icon>
        </button>
        <span class="sidebar-title" *ngIf="isExpanded">Menu</span>
      </div>
      
      <mat-nav-list>
        <a mat-list-item routerLink="/home" routerLinkActive="active">
          <mat-icon>home</mat-icon>
          <span class="menu-text" *ngIf="isExpanded">Home</span>
        </a>
        <a mat-list-item routerLink="/templates" routerLinkActive="active">
          <mat-icon>dashboard</mat-icon>
          <span class="menu-text" *ngIf="isExpanded">Templates</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>