<div cdkDropListGroup>
  <div class="search-container">
    <mat-form-field appearance="outline" class="search-field">
      <input matInput placeholder="Search" [(ngModel)]="searchTerm">
      <button mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="example-container">
    <h2>Template</h2>
    <div cdkDropList [cdkDropListData]="templates" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of filteredTodo" cdkDrag>
        {{item.templates}} 
      </div>
      <div *ngIf="filteredTodo.length === 0 && searchTerm" class="no-results">
        No matching "Template"
      </div>
    </div>
  </div>
  <!-- second part -->
  <div class="example-container ">
    <h2>Root Canal</h2>
    <div cdkDropList [cdkDropListData]="rootCanal" class="example-list " (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of rootCanal" cdkDrag>
        {{ item.templates }}
        <ul>
          <li *ngFor="let list of item.description"> {{ item.description }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>